<div class="container__small-card">
  <div class="small-card-content">
    <div class="small-card__photo">
      <img [src]="photoCover" alt="card image" />
    </div>
    <div class="small-card-text">
      <div class="small-card__title">
        <a [routerLink]="['content', id]"
          ><h1>{{ cardTitle }}</h1></a
        >
      </div>
      <div class="small-card__description">
        <a [routerLink]="['content', id]">
          <p>
            {{ cardDescription }}
          </p></a
        >
      </div>
    </div>
  </div>

  <hr />
</div>
